.cores label:after {
    content: '';
    display: block;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0);
    transition: 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
}

label[for=rosa]:after {
    background-color: #FF8888;
    left: 0;
}

label[for=azul]:after {
    background-color: #6666FF;
    left: 60px;
}

label[for=verde]:after {
    background-color: #66FF66;
    left: 120px;
}

.cores input:checked+label:after {
    border: 6px solid rgba(0, 0, 0, 0.3);
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked)+label img {
    display: none;
}

.cores label:hover:after {
    border: 6px solid rgba(0, 0, 0, 0.1);
}

.cores {
    position: relative;
    padding-top: 80px;
}

.cores label img {
    display: block;
    max-width: 100%;
}

.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase;
}

.comprar {
    background-color: #91bd3c;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
    font-size: 1.5em;
    line-height: 2;
}

.detalhes p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    max-width: 36em;
}

@media (min-width: 500px) {
    .detalhes {
        font-size: 1.2em;
    }
}

table{
    border-spacing: 0.2em;
    border-collapse: separate;
}

thead{
    background-color: #999;
}

thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td{
    padding: 0.3em;
}

tr:nth-child(2n){
    background-color: #ccc;
}

td:first-child{
    font-style: italic;
}

.produto-back{
    background-color: #f2f2f2;
    margin-top: 1em;
    border-top: 2px solid #ccc;
}

.cores label img{
    border: 2px solid #ccc;
}