body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

p{
    text-align: left;
    line-height: 20px;
    text-indent: 15px;
    padding: 0 45px;
}

h1{
    background-image: url(..\img\sobre-background.jpg);
    padding: 10px;
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape{
    color:#777;
    margin: 30px;
    padding: 30px;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}

p:first-letter{
    font-weight: bold;
}

/* Removendo a indentação do primeiro parágrafo da página */
h1 + p{
    text-indent: 0;
}

/* p:first-line{
    font-variant: small-caps;
} */

:not(p) + p:first-line{
    font-variant: small-caps;
}